ion-content {
    --background: #f4f4f5;
    --offset-bottom: -1.5em !important; // Esto es para que se vea el border del <div>
    --offset-top: -1.5em !important; // Esto es para que se vea el border del <div>
}