<div class="flex ml-8 mt-10 overflow-x-scroll hide-scroll">
    <button (click)="getAllEntradas()" class="mx-1 px-4 border-solid border text-purple border-purple rounded-xl bg-transparent" [ngClass]="{'clicked' : idCategoriaActiva == 0}">Todos</button>
    <button *ngFor="let categoria of categorias" (click)="filtrarPorCategoria(categoria.id_categoria)" class="mx-1 px-4 border-solid border rounded-xl" [ngClass]="getClasesCategoria(categoria.id_categoria)">{{categoria.nombre}}</button>
</div>

<ion-content [scrollEvents]="true">
    <div class="m-0" *ngIf="entradasHoy.length > 0">
        <h2 class="mx-8 my-2 font-medium">Hoy, <span class="font-light">{{hoy | date:'dd/MM'}}</span></h2>
        <div *ngFor="let entrada of entradasHoy" class="flex mx-8 my-2">
            <div class="flex h-auto rounded-l-lg px-4 py-3" [ngClass]="getColorCategoria(entrada.id_categoria)">
                <!-- No me gusta el ngClass -->
                <span>&#x200b;</span>
            </div>
            <div class="bg-white flex items-center w-full rounded-r-lg px-4 py-3">
                <div class="flex flex-col">
                    <h3>{{entrada.nombre}}</h3>
                    <h4 class="text-gray-500 font-light text-sm">{{entrada.hora_ini | date:'HH:mm'}} - {{entrada.hora_fin | date:'HH:mm'}}</h4>
                </div>
                <div class="flex items-center ml-auto">
                    <ion-icon *ngIf="entrada.recordatorio != 'null'" color="primary" name="alarm" class="mr-1"></ion-icon>
                    <p class="font-semibold">{{tiempoRestante(entrada.hora_ini)}}</p>
                </div>
            </div>
        </div>
    </div>

    <div class="m-0" *ngIf="entradasProximas.length > 0">
        <h2 class="mx-8 my-2 mt-4 font-medium">Próximos eventos</h2>
        <div *ngFor="let entrada of entradasProximas" class="flex mx-8 my-2">
            <div class="flex h-auto rounded-l-lg px-4 py-3" [ngClass]="getColorCategoria(entrada.id_categoria)">
                <span>&#x200b;</span>
            </div>
            <div class="bg-white flex items-center w-full rounded-r-lg px-4 py-3">
                <div class="flex flex-col">
                    <h3>{{entrada.nombre}}</h3>
                    <h4 class="text-gray-500 font-light text-sm">{{entrada.hora_ini | date:'dd/MM'}} {{entrada.hora_ini | date:'HH:mm'}} - {{entrada.hora_fin | date:'HH:mm'}}</h4>
                </div>
                <ion-icon *ngIf="entrada.recordatorio != 'null'" color="primary" name="alarm" class="ml-auto"></ion-icon>
            </div>
        </div>
    </div>

    <div class="mx-8 my-2" *ngIf="entradasHoy.length == 0 && entradasProximas.length == 0">
        <h4 class="text-gray-400 italic">No hay eventos.</h4>
    </div>
</ion-content>
