.categorias {
    transition: all .2s ease-in-out;
}

ion-content {
    --background: #f4f4f5;
    --offset-bottom: -6em !important; // Esto es para que se vea el border del <div>
    --offset-top: -1.5em !important; // Esto es para que se vea el border del <div>
}

h2,
h3,
p {
    color: #272727;
}

.hide-scroll::-webkit-scrollbar {
    display: none;
}

.hide-scroll {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}

.clicked {
    background-color: rgba(152, 137, 194);
    color: white !important;
}

.circle {
    border-radius: 50%;
}

.bubble {
    position: relative;
    background: rgba(152, 137, 194, 0.25);
    // border: 2px solid #9889C2;
    border-radius: .4em;
}

.bubble:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 90%;
    width: 0;
    height: 0;
    border: 20px solid transparent;
    border-top-color: rgba(152, 137, 194, 0.25);
    border-bottom: 0;
    border-left: 0;
    margin-left: -10px;
    margin-bottom: -20px;
}