<ion-content [scrollEvents]="true">
    <div *ngIf="entr.length > 0">
        <div *ngFor="let entrada of entr; let i = index" class="flex items-start py-1.5 px-8 justify-evely ion-activatable ripple-parent" (click)="getTransporte(entrada.id_fuente)">
            <img class="mr-4 w-6 self-start mt-1" src="{{'../../../assets/icon/' + entrada['icono']}}" alt="">

            <div class="self-start mr-1">
                <h3 class="self-start">{{entrada.nombre}}</h3>
                <h4 class="text-gray-400 font-light text-sm">{{entrada.direccion}}</h4>
            </div>
            <div class="ml-auto flex text-right justify-content-end">
                <p class="font-semibold text-sm text-right w-20">{{tiempoRestante(entrada.horas[0])}}</p>
                <p class="font-semibold text-sm text-right w-20">{{tiempoRestante(entrada.horas[1])}}</p>
            </div>
            <ion-ripple-effect></ion-ripple-effect>
        </div>
    </div>

    <div *ngIf="entr.length <= 0" class="m-8">
        <h3 class="text-gray-400 italic">No hay transportes.</h3>
    </div>
</ion-content>
