<ion-content [scrollEvents]="true">
    <div *ngIf="entr.length > 0">
        <div *ngFor="let entrada of entr; let i = index" class="flex items-start py-1.5 px-8 justify-evely ion-activatable ripple-parent" (click)="getTransporte(entrada.id_fuente)">
            <img class="mr-4 w-6 self-start mt-1" src="{{'../../../assets/icon/' + entrada['icono']}}" alt="">

            <div class="self-start mr-1">
                <h3 class="self-start">{{entrada.nombre}}</h3>
                <h4 class="text-gray-400 font-light text-sm">{{entrada.direccion}}</h4>
            </div>
            <div class="ml-auto flex text-right justify-content-end">
                <p class="font-semibold text-sm text-right w-20">{{tiempoRestante(entrada.horas[0])}}</p>
                <p class="font-semibold text-sm text-right w-20" *ngIf="entrada.horas[1]">{{tiempoRestante(entrada.horas[1])}}</p>
            </div>
            <ion-ripple-effect></ion-ripple-effect>
        </div>
    </div>

    <div class="mx-8 my-2 px-1 py-2 flex bubble" *ngIf="fuentes.length == 0">
        <ion-icon name="information-circle" color="primary" class="w-24 text-2xl"></ion-icon>
        <h4 class="text-gray-500">Esta es tu sección de <b>transportes</b>. Aquí recibirás información únicamente de tus salidas del día de <b>hoy</b>. ¡Añade uno pulsando <span class="text-purple font-semibold" (click)="nuevoTransporte()">aquí</span>!</h4>
    </div>

    <div *ngIf="entr.length <= 0 && fuentes.length > 0" class="m-8">
        <!-- <h4 class="text-gray-500 italic"><b>Oops!</b> Parece que no tienes ningún transporte todavía, pulsa <span class="text-purple not-italic" (click)="nuevoTransporte()">aquí</span> para añadir tu primer transporte o selecciona el icono del <span class="text-purple not-italic">+</span>.</h4> -->
        <h4 class="text-gray-400 italic">No tienes más salidas para el día de hoy.</h4>
    </div>
</ion-content>