<!-- <ion-tabs>
    <ion-tab-bar slot="bottom">

        <ion-tab-button tab="modo-lista">
            <ion-icon name="list-circle"></ion-icon>
            <ion-label>Modo lista</ion-label>
        </ion-tab-button>

        <ion-tab-button tab="modo-diario">
            <ion-icon name="calendar"></ion-icon>
            <ion-label>Modo diario</ion-label>
        </ion-tab-button>

    </ion-tab-bar>
</ion-tabs> -->

<div class=" flex justify-around px-8">
    <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-clipboard-list my-4" width="36" height="36" viewBox="0 0 24 24" stroke-width="1.5" stroke="#9e9e9e" fill="none" stroke-linecap="round" stroke-linejoin="round">
    <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
    <path d="M9 5h-2a2 2 0 0 0 -2 2v12a2 2 0 0 0 2 2h10a2 2 0 0 0 2 -2v-12a2 2 0 0 0 -2 -2h-2" />
    <rect x="9" y="3" width="6" height="4" rx="2" />
    <line x1="9" y1="12" x2="9.01" y2="12" />
    <line x1="13" y1="12" x2="15" y2="12" />
    <line x1="9" y1="16" x2="9.01" y2="16" />
    <line x1="13" y1="16" x2="15" y2="16" />
  </svg>


    <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-calendar-time my-4" width="36" height="36" viewBox="0 0 24 24" stroke-width="1.5" stroke="#9e9e9e" fill="none" stroke-linecap="round" stroke-linejoin="round">
    <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
    <path d="M11.795 21h-6.795a2 2 0 0 1 -2 -2v-12a2 2 0 0 1 2 -2h12a2 2 0 0 1 2 2v4" />
    <circle cx="18" cy="18" r="4" />
    <path d="M15 3v4" />
    <path d="M7 3v4" />
    <path d="M3 11h16" />
    <path d="M18 16.496v1.504l1 1" />
  </svg>
</div>

<ion-fab vertical="bottom" horizontal="end" slot="fixed" class="mb-20 mr-2">
    <ion-fab-button>
        <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-plus" width="36" height="36" viewBox="0 0 24 24" stroke-width="1.5" stroke="#ffffff" fill="none" stroke-linecap="round" stroke-linejoin="round">
        <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
        <line x1="12" y1="5" x2="12" y2="19" />
        <line x1="5" y1="12" x2="19" y2="12" />
      </svg>
    </ion-fab-button>

    <ion-fab-list side="top">
        <ion-fab-button>
            Crear evento
        </ion-fab-button>
    </ion-fab-list>
</ion-fab>