<ion-header class="ion-no-border bg-white pb-4">
    <app-page-header titulo="Transportes" [goBack]=true>
        <ion-back-button color="primary"></ion-back-button>
    </app-page-header>
</ion-header>


<div class="bg-gray-100 h-full rounded-t-xl">
    <!-- <div *ngIf="transportes.length <= 0"><span>&#x200b;</span> -->
    <p class="ml-auto text-purple text-right mb-4 pr-8 mt-8 ion-activatable ripple-parent" (click)="nuevoTransporte()">
        + Nuevo transporte
        <ion-ripple-effect></ion-ripple-effect>
    </p>
    <div class="flex items-center px-8 pt-2" *ngIf="transportes.length > 0">
        <div class="flex items-center ion-activatable ripple-parent" (click)="eliminarTransportes()">
            <ion-icon name="trash-bin" class="text-2xl text-gray-400" [ngClass]="{'text-purple': seleccionados}"></ion-icon>
            <p *ngIf="seleccionados" class="text-purple text-sm ml-2">
                Eliminar
                <ion-ripple-effect></ion-ripple-effect>
            </p>
        </div>
        <p (click)="seleccionarTodos()" class="text-purple text-sm ml-auto ion-activatable ripple-parent" *ngIf="!todos">
            Seleccionar todos
            <ion-ripple-effect></ion-ripple-effect>
        </p>
        <p (click)="deseleccionarTodos()" class="text-purple text-sm ml-auto ion-activatable ripple-parent" *ngIf="todos">
            Deseleccionar todos
            <ion-ripple-effect></ion-ripple-effect>
        </p>
    </div>

    <ion-content [scrollEvents]="true">
        <ion-list class="bg-gray-100" lines="none" (ionChange)="checkValue($event)">
            <ion-item *ngFor="let transporte of transportes; let i = index" class="my-2">
                <div class="flex items-start my-2 justify-evely w-full">
                    <img class="mr-4 mt-1 w-6 self-start" src="{{'../../../assets/icon/' + transporte['icono']}}" alt="">

                    <div class="self-start mr-1">
                        <h3 class="self-start">{{transporte.nombre}}</h3>
                        <h4 class="text-gray-400 font-light text-sm">{{transporte.direccion}}</h4>
                    </div>
                </div>
                <ion-checkbox class="ml-3.5" mode="ios" slot="start" [(ngModel)]="transporte.isChecked"></ion-checkbox>
                <ion-icon class="p-4 pl-6 text-gray-400 text-lg z-50" name="ellipsis-vertical" (click)="getTransporte($event, transporte)"></ion-icon>
            </ion-item>
        </ion-list>

        <div class="mx-8 my-2" *ngIf="transportes.length <= 0">
            <h3 class="text-gray-500 italic"><b>Oops!</b> Parece que no tienes ningún transporte todavía, pulsa en <span class="text-purple not-italic" (click)="nuevoTransporte()">+ Nuevo transporte</span> para añadir tu primer transporte.</h3>
            <div class="flex justify-center">
                <img class="w-8/12 mt-8" src="../../../assets/icon/transports.svg" alt="Ilustración de una mujer en transporte público">
            </div>
        </div>
    </ion-content>
</div>