/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */


/* Core CSS required for Ionic components to work properly */

@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */

@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import '@ionic/angular/css/display.css';

/* Tailwind CSS */

@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

/* Optional CSS utils that can be commented out */


/*@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";*/

@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

/* Popover settings */

* {
    font-family: 'Lato', sans-serif;
}

.popover_setting .popover-content,
.radio-alert {
    border-radius: 15px;
}

.capitalize {
    text-transform: capitalize !important;
}

.alert-radio-group.sc-ion-alert-md,
.alert-checkbox-group.sc-ion-alert-md {
    max-height: initial !important;
}

.shadow-top {
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgb(255 255 255 / 43%) 0px -3px 5px;
}

.my-modal-class {
    --background: transparent;
    //--max-height: 40%;
}

ion-loading.custom-loading {
    .loading-wrapper {
        background: transparent;
        box-shadow: none;
        --spinner-color: white;
    }
}

.picker-wrapper.sc-ion-picker-md {
    border-radius: 25px 25px 0 0 !important;
    padding: 1em 2rem !important;
}

.picker-button.sc-ion-picker-md,
.picker-button.ion-activated.sc-ion-picker-md {
    text-transform: capitalize;
    font-size: 16px;
}

ion-button {
    white-space: pre-line !important;
}

.ripple-parent {
    position: relative;
    overflow: hidden;
}

.calendar-hour-column,
.dayview-allday-label {
    width: 5em !important;
    background-color: white;
    border-left: none !important;
    border-bottom: none !important;
    padding: .5em;
    // display: none !important;
}

.slide-container {
    background-color: rgba(152, 137, 194, 0.25);
    border-radius: 0 25px 25px 0;
}

.scroll-content {
    border-radius: 0 25px 25px 0;
}

.calendar-event-inner {
    background-color: transparent;
    height: 100%;
    display: flex;
}

tbody,
table {
    border: none !important;
}

td {
    border: none !important;
}

tr {
    border: none;
    border-bottom: 1px dotted #d4d4d8 !important;
}