.modal {
    background: rgba(0, 0, 0, 0.32) !important;
}

.disabled {
    pointer-events: none;
    opacity: 0.5;
}

.circle {
    border-radius: 50%;
}

input:focus,
textarea:focus {
    --tw-ring-color: #9889C2 !important;
}