<ion-tabs>

    <ion-tab-bar slot="bottom">
        <ion-tab-button tab="modo-lista">
            <ion-icon name="list-circle"></ion-icon>
            <!-- <ion-label>Modo Lista</ion-label> -->
        </ion-tab-button>

        <ion-tab-button tab="modo-diario">
            <ion-icon name="calendar"></ion-icon>
            <!-- <ion-label>Modo Diario</ion-label> -->
        </ion-tab-button>

    </ion-tab-bar>

</ion-tabs>

<ion-fab vertical="bottom" horizontal="end" slot="fixed" class="mb-16 mr-2 w-36">

    <ion-fab-button class="ml-auto">
        <ion-icon name="add"></ion-icon>
    </ion-fab-button>

    <ion-fab-list side="top">

        <!-- Para poner un borde: border-solid border-2 border-purple-500 -->
        <button routerLink="/crear-evento" class="bg-white text-purple rounded-lg shadow-md px-4 py-3 m-1 w-full">
          Crear evento
        </button>
        <button routerLink="/crear-transporte" class="bg-white text-purple rounded-lg shadow-md px-4 py-3 m-1 w-full">
          Añadir transporte
        </button>

    </ion-fab-list>
</ion-fab>