<ion-header class="ion-no-border bg-white pb-4">
    <app-page-header titulo="Categorías" [goBack]=true>
        <ion-back-button color="primary"></ion-back-button>
    </app-page-header>
</ion-header>

<div class="bg-gray-100 h-full rounded-t-xl">
    <div class="m-8">
        <p class="ml-auto text-purple text-right mb-4 ion-activatable ripple-parent" (click)="openModalCrear()">
            + Nueva categoría
            <ion-ripple-effect></ion-ripple-effect>
        </p>
        <div class="flex flex-col" *ngIf="categorias.length > 0">
            <div *ngFor="let categoria of categorias" class="my-2 flex items-center">
                <label for="{{categoria.id_categoria}}" class="flex items-center">
                  <div name="id_categoria" class="circle h-7 w-7 mr-2 border-none text-transparent" [ngClass]="'bg-' + categoria.color">.</div>
                  {{categoria.nombre}}
                </label>
                <ion-icon id="{{categoria.id_categoria}}" class="ml-auto text-gray-400 text-lg" name="ellipsis-vertical" (click)="presentPopover($event)"></ion-icon>
            </div>
        </div>

        <div *ngIf="categorias.length <= 0" class="mt-8">
            <h3 class="text-gray-500 italic"><b>Oops!</b> Parece que no tienes ninguna categoría creada, pulsa en <span class="text-purple not-italic" (click)="openModalCrear()">+ Nueva categoría</span> para añadir tu primera categoría.</h3>
        </div>
    </div>
</div>

<app-categoria class="h-screen fixed z-50" [mostrarEditar]="showModalEditar" [categoria]="categoria"></app-categoria>
<app-categoria class="h-screen fixed z-50" [mostrarCrear]="showModalCrear"></app-categoria>