<div class="modal flex fixed h-screen w-screen z-50" *ngIf="modalCategoria">
    <div class="bg-gray-100 fixed bottom-0 w-full h-auto rounded-t-xl p-8">
        <div class="flex">
            <ion-icon color="primary" class="text-2xl" name="arrow-back" (click)="exitModalCategoria()"></ion-icon>
            <p class="text-purple ml-auto">Crear categoría</p>
        </div>
        <h3 class="my-4 text-lg font-semibold">Nueva categoría</h3>

        <!-- <div class="bg-red-500 h-6 w-6 circle">
            <span>&#x200b;</span>
        </div> -->
        <div class="flex">
            <input type="radio" name="categoria" id="" class="bg-pink h-7 w-7 mr-1 border-none">
            <input type="radio" name="categoria" id="" class="bg-red h-7 w-7 mx-1 border-none">
            <input type="radio" name="categoria" id="" class="bg-orange h-7 w-7 mx-1 border-none">
            <input type="radio" name="categoria" id="" class="bg-yellow h-7 w-7 mx-1 border-none">
            <input type="radio" name="categoria" id="" class="bg-green h-7 w-7 mx-1 border-none">
            <input type="radio" name="categoria" id="" class="bg-blue h-7 w-7 mx-1 border-none">
            <input type="radio" name="categoria" id="" class="bg-indigo h-7 w-7 mx-1 border-none">
        </div>

        <!-- Nombre -->
        <div class="my-4 flex flex-col">
            <label for="nombreCategoria" class="text-gray-600">Nombre</label>
            <input type="text" id="nombreCategoria" class="rounded-lg border-none mt-0.5">
        </div>
    </div>
</div>


<ion-header class="ion-no-border bg-white">
    <app-page-header titulo="Nuevo evento" [goBack]=true>
        <ion-back-button color="primary"></ion-back-button>
        <div class="flex items-center ml-auto mr-8" (click)="createEvento()">
            <ion-icon name="checkmark" color="primary" class="mr-1"></ion-icon>
            <p class="text-purple">Crear evento</p>
        </div>
    </app-page-header>
</ion-header>

<div class="bg-gray-100 h-full rounded-t-xl mt-4">
    <form [formGroup]="eventoForm" class="m-8 flex flex-col">
        <!-- Nombre -->
        <div class="m-2 flex flex-col">
            <label for="nombre" class="text-gray-600">Nombre</label>
            <input type="text" id="nombre" formControlName="nombre" class="rounded-lg border-none mt-0.5">
        </div>

        <!-- Descripción -->
        <div class="m-2 flex flex-col">
            <label for="descripcion" class="text-gray-600">Descripción</label>
            <textarea id="descripcion" formControlName="descripcion" class="rounded-lg border-none mt-0.5"></textarea>
        </div>

        <!-- Categoría -->
        <div class="m-2 flex flex-col">
            <div class="flex items-center mb-2">
                <ion-icon name="grid" class="mr-2" color="primary"></ion-icon>
                <label for="categoria" class="text-gray-600">Categoría</label>
                <p class="ml-auto text-purple text-right w-4/6" (click)="toggleModalCategoria()">+ Nueva categoría</p>
            </div>
            <p class="text-sm text-gray-300 italic">No disponible</p>
        </div>

        <!-- Fecha -->
        <div class="m-2 flex flex-col">
            <div class="flex items-center mb-2">
                <ion-icon name="time" class="mr-2" color="primary"></ion-icon>
                <label for="fecha" class="text-gray-600">Día & Hora</label>
                <div class="ml-auto flex items-center">
                    <ion-label class="text-gray-600 text-sm">Todo el día</ion-label>
                    <ion-toggle [checked]="toggleCheck" (ionChange)="toggle()"></ion-toggle>
                </div>
            </div>

            <div>
                <ion-item class="my-2 rounded-lg" lines="none">
                    <ion-label color="medium">Inicio</ion-label>
                    <ion-datetime display-format="DD MMM, YYYY HH:mm" formControlName="hora_ini" (ionChange)="checkTodoElDia()"></ion-datetime>
                </ion-item>

                <ion-item class="my-2 rounded-lg" lines="none">
                    <ion-label color="medium">Fin</ion-label>
                    <ion-datetime display-format="DD MMM, YYYY HH:mm" formControlName="hora_fin" (ionChange)="checkTodoElDia()"></ion-datetime>
                </ion-item>
            </div>

        </div>

        <!-- Repetición -->
        <div class="m-2 flex flex-col">
            <div class="flex items-center mb-2">
                <ion-icon name="reload-outline" class="mr-2" color="primary"></ion-icon>
                <label for="repeticion" class="text-gray-600">Repetición</label>
                <p class="ml-auto text-gray-800 text-right w-4/6" (click)="alertRepeticion()">{{repeticion}}</p>
            </div>
        </div>

        <!-- Recordatorio -->
        <div class="m-2 flex flex-col">
            <div class="flex items-center mb-2">
                <ion-icon name="alarm" class="mr-2" color="primary"></ion-icon>
                <label for="recordatorio" class="text-gray-600">Recordatorio</label>
                <p class="ml-auto text-gray-800" (click)="alertRecordatorio()">{{recordatorioOptions[recordatorioIndex]}}</p>
            </div>
        </div>

        <!-- Eliminar la tabla Fuente entera, boton temporal -->
        <ion-button color="danger" expand="block" (click)="deleteEventos()">
            Eliminar tabla Fuente
        </ion-button>
    </form>
</div>