input:focus,
textarea:focus {
    --tw-ring-color: #9889C2 !important;
}

ion-content {
    --background: #f4f4f5;
    --offset-bottom: -1.5em !important; // Esto es para que se vea el border del <div>
    --offset-top: -1.5em !important; // Esto es para que se vea el border del <div>
}

.modal {
    background: rgba(0, 0, 0, 0.32) !important;
}

.circle {
    border-radius: 50%;
}

.disabled {
    pointer-events: none;
    opacity: 0.5;
}

.bubble {
    position: relative;
    background: rgba(152, 137, 194, 0.25);
    // border: 2px solid #9889C2;
    border-radius: .4em;
}