* {
    transition: all .2s ease-in-out;
}

h2,
h3,
p {
    color: #272727;
}

.text-start {
    text-align: start !important;
}

.too-long {
    min-height: 2.25em;
    overflow-y: hidden;
}

.hide-scroll::-webkit-scrollbar {
    display: none;
}

.hide-scroll {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}