<div class="bg-gray-100 rounded-t-xl h-auto w-full absolute bottom-0">
    <div class="flex px-8 pt-8">
        <ion-icon color="primary" class="text-2xl" name="arrow-back" (click)="dismiss()"></ion-icon>
        <!-- <ion-icon class="ml-auto text-2xl text-gray-500" name="trash-bin" (click)="[dismiss(), eliminarEvento()]" *ngIf="accion == 'detalleEvento'"></ion-icon> -->
        <ion-icon class="ml-auto text-gray-400 text-lg" name="ellipsis-vertical" *ngIf="accion == 'detalleEvento'" (click)="presentPopover($event)"></ion-icon>

        <span *ngIf="accion == 'recordatorio' || accion == 'repeticion' || accion == 'personalizado'" class="text-purple ml-auto" (click)="terminar()">Terminar</span>
    </div>

    <div *ngIf="accion == 'detalleEvento'">
        <div class="flex items-start my-4 mx-8">
            <div class="h-7 w-7 circle my-1 mr-2 border-none" [ngClass]="'bg-' + categoria">&#x200b;</div>

            <div class="">
                <h3 class="text-lg"><span class="font-semibold">{{detalle.nombre}}</span> {{detalle.hora_ini | date:'HH:mm'}} - {{detalle.hora_fin | date:'HH:mm'}}</h3>
                <p class="text-sm text-gray-500">{{tiempoRestante}}</p>
            </div>
        </div>

        <label class="ml-8 text-gray-600">Descripción</label>
        <h4 class="bg-white mx-8 my-1 rounded-lg px-4 py-3" *ngIf="detalle.descripcion" [ngClass]="{'mb-8': repeticion == null || repeticion == 'null'}">{{detalle.descripcion}}</h4>
        <h4 class="bg-white text-gray-400 mx-8 my-1 rounded-lg px-4 py-3 italic" *ngIf="!detalle.descripcion" [ngClass]="{'mb-8': repeticion == null || repeticion == 'null'}">Sin descripción</h4>
        <p class="mx-8 mb-8 text-gray-600 text-sm" *ngIf="repeticion != null && repeticion != 'null' && repeticion != 'personalizado'">Este evento se repite {{repeticion | lowercase}}mente.</p>
        <p class="mx-8 mb-8 text-gray-600 text-sm" *ngIf="repeticion == 'personalizado' && diasRep != null && diasRep != undefined && diasRep != ''">Este evento se repite los {{diasRep}}.</p>
    </div>

    <div *ngIf="accion == 'eliminar'">
        <h3 class="text-lg my-4 mx-8 font-semibold">¿Qué quieres hacer?</h3>
        <ul class="overflow-y-scroll mb-8 hide-scroll">
            <li class="border-b border-gray-200 p-4 pl-8" (click)="deleteEntrada(detalle.id_entrada)">Eliminar este {{tipo}}</li>
            <li class="border-b p-4 pl-8" (click)="deleteEntradas(detalle.id_fuente)">Eliminar todos los {{tipo}}s de este tipo</li>
        </ul>
    </div>

    <div *ngIf="accion == 'eliminarCat'">
        <h3 class="text-lg mt-4 mb-1 mx-8 font-semibold">¿Estás segur@?</h3>
        <p class="text-gray-600 px-8">Si eliminas la categoría {{titulo}}, perderás todas las entradas etiquetadas con esta categoría.</p>
        <ul class="overflow-y-scroll mb-8 hide-scroll">
            <li class="border-b border-gray-200 p-4 pl-8" (click)="dismiss()">Cancelar</li>
            <li class="border-b p-4 pl-8" (click)="deleteCategoria()">Eliminar categoría</li>
        </ul>
    </div>

    <div *ngIf="accion == 'repeticion' || accion == 'recordatorio'">
        <h3 *ngIf="accion == 'repeticion'" class="text-lg my-4 mx-8 font-semibold">Repetición</h3>
        <h3 *ngIf="accion == 'recordatorio'" class="text-lg my-4 mx-8 font-semibold">Recordatorio</h3>
        <ion-list lines="none" class="ml-4 bg-transparent">
            <ion-radio-group class="bg-transparent" [value]="selected" (ionChange)="checkValue($event)">
                <ion-item *ngFor="let item of titulos; let i = index">
                    <ion-label>{{item}}</ion-label>
                    <ion-radio slot="start" [value]=valores[i]></ion-radio>
                </ion-item>

                <div *ngIf="accion == 'repeticion'">
                    <div class="mx-4 mb-8 p-4 flex flex-col" [ngClass]="{'disabled': !checkCustom, 'bg-gray-200 rounded-lg': checkCustom}">
                        <label class="font-semibold">Días</label>
                        <p class="text-gray-600 my-1">Elige los días de la semana que quieres que se repita el evento.</p>
                        <div class="flex justify-between mt-1">
                            <div class="day" (click)="toggleDia('Lun')" [ngClass]="{'bg-purple text-white':checkDia('Lun')}">L</div>
                            <div class="day" (click)="toggleDia('Mar')" [ngClass]="{'bg-purple text-white':checkDia('Mar')}">M</div>
                            <div class="day" (click)="toggleDia('Mie')" [ngClass]="{'bg-purple text-white':checkDia('Mie')}">X</div>
                            <div class="day" (click)="toggleDia('Jue')" [ngClass]="{'bg-purple text-white':checkDia('Jue')}">J</div>
                            <div class="day" (click)="toggleDia('Vie')" [ngClass]="{'bg-purple text-white':checkDia('Vie')}">V</div>
                            <div class="day" (click)="toggleDia('Sab')" [ngClass]="{'bg-purple text-white':checkDia('Sab')}">S</div>
                            <div class="day" (click)="toggleDia('Dom')" [ngClass]="{'bg-purple text-white':checkDia('Dom')}">D</div>
                        </div>
                    </div>
                </div>
            </ion-radio-group>
        </ion-list>
    </div>
</div>