<!-- <ion-list class="rounded-xl p-4" lines="none">
    <ion-radio-group name="auto" value="tesla">
        <ion-list-header>
            <ion-label class="text-lg">Repetición</ion-label>
        </ion-list-header>
        <ion-item>
            <ion-label>Sin repetición</ion-label>
            <ion-radio slot="start" value="0"></ion-radio>
        </ion-item>
        <ion-item>
            <ion-label>Diariamente</ion-label>
            <ion-radio slot="start" value="1"></ion-radio>
        </ion-item>
        <ion-item>
            <ion-label>Semanalmente</ion-label>
            <ion-radio slot="start" value="2"></ion-radio>
        </ion-item>
        <ion-item>
            <ion-label>Mensualmente</ion-label>
            <ion-radio slot="start" value="3"></ion-radio>
        </ion-item>
        <ion-item>
            <ion-label>Anualmente</ion-label>
            <ion-radio slot="start" value="4"></ion-radio>
        </ion-item>
        <ion-item>
            <ion-label>Personalizado</ion-label>
            <ion-radio slot="start" value="5"></ion-radio>
        </ion-item>
    </ion-radio-group>
</ion-list> -->

<div class="bg-red-900">
    Hola
</div>
